* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: 500;
}
#container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
#sidebar {
  min-height: 100%;
  width: 350px;
  background-color: rgb(250, 241, 255);
  padding: 10px;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
#action-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
#action-buttons button {
  border: rgb(192, 138, 223) solid 1px;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(192, 138, 223);
  color: white;
  transition-duration: 0.2s;
}
#action-buttons button:hover {
  box-shadow: 0 2px 4px 2px rgba(36, 36, 36, 0.11);
  transform: translateY(-3%);
}
#sidebar h4 {
  font-weight: 600;
  margin-top: 20px;
  padding: 5px;
}
#my-projects {
  margin: 5px;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#my-projects li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}
#my-projects li:hover {
  background-color: rgb(242, 229, 250);
}
.active {
  background-color: rgb(237, 214, 250);
}
.active:hover {
  background-color: rgb(237, 214, 250) !important;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px;
  width: 100%;
  background-color: rgb(252, 249, 255);
}
#project-title {
  font-weight: 700;
}
#project {
  width: 850px;
}
#task-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 15px;
  border: rgb(165, 165, 165) solid 1px;
  border-radius: 10px;
}
.task-details {
  display: flex;
  gap: 10px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.last-col {
  display: flex;
  justify-content: space-between;
}
#project-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}
#project-buttons {
  display: flex;
  justify-content: end;
  gap: 15px;
}
#project-title {
  margin-bottom: 25px;
}

/* todo list styling */

#todo-list hr {
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid #e2e2e2;
}

.list-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.list-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  border: rgb(192, 138, 223) solid 2px;
  background-color: rgb(237, 214, 250);
}

/* On mouse-over, add a grey background color */
.checkmark:hover {
  background-color: rgb(192, 138, 223);
}

/* When the checkmark is active, add a yellow background */
.checkmark.active-check {
  background-color: rgb(192, 138, 223);
}

/* Create the checkmark/indicator (hidden when not active) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when active */
.checkmark.active-check:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
